
.navigationBar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 70px;
   
}
.navigationBar .websiteNameNavigation {
  margin-top: 10px;
  order: 1;
}
.navigationBar .buttonNavigation {
  margin-top: 10px;
  order: 2;
}
.buttonNavigation
{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.websiteNameButton
{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.websiteNameButton .websiteLogo
{
    height: 37px;
    width: auto;
    display: block;
}

.notesButton
{
    background-color: white;
    border: 0;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;

}
.notesButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.flashCardsButton
{
    background-color: white;
    border: 0;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;

}
.flashCardsButton:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.loginButton
{
    background-color: white;
    border: 0;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.loginButton:hover {
    cursor: pointer;
    text-decoration: underline; 
}

.signUpButton
{
    background-color: black;
    color: white;
     font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    border-radius: 10px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.signUpButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.websiteContent
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
    height: 50vh;
}
.websiteInfo, 
.websiteImage {
  flex: 1;                      
}
.websiteSlogan
{
    font-size: 55px;
    text-align: left;
    margin-top: 70px;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: bold;

}
.websiteDescription
{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.websiteInfo {
  flex: 1;                     
  padding-right: 40px;
}
.websiteImage {
  flex: 2;        
  max-width: 400px;            
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
.websiteImage img {
  max-width: 100%;              
  height: auto;
  display: block;
}
